{% extends "admin/base.html" %}
{% block content %}

<h2>Reply to {{ contact.name }}</h2>

<form method="POST">

    <div class="mb-3">
        <label>Email</label>
        <input type="text" class="form-control"
               value="{{ contact.email }}" readonly>
    </div>

    <div class="mb-3">
        <label>Subject</label>
        <input type="text" name="subject"
               class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Message</label>
        <textarea name="message"
                  class="form-control"
                  rows="6"
                  required></textarea>
    </div>

    <button type="submit" class="btn btn-success">
        Send Email
    </button>

</form>

{% endblock %}